doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    title Jade Test
  body
    h1 Jade - node template engine
    h1 Welcome to #{title} server
    #container.col
      p You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
